# Common
alias l="exa -al --git --icons"

# RSpec
alias be="bundle exec"

# Vim
alias lv='~/.local/bin/lvim'
alias v=lv
alias vconf="v ~/.zshrc ~/.skhdrc ~/.tmux.conf ~/.config/kitty/kitty.conf ~/.aliases ~/.profile ~/.yabairc"
function vf() {
  v $(fzf)
}
function fz() {
  $1 $(fzf)
}

# brew
alias brewre="brew services restart"
alias brews="brew services start"

# yabai
alias yab="brew services start koekeishiya/formulae/yabai && sudo yabai --load-sa"

# Spa
alias ss="spa toggle"
alias sp="spa pause"
alias sst="spa search -t"
alias ssa="spa search -a"

# Git
alias gs="git status --short"
alias gst="git status"
alias gd="git diff"
alias gco="git checkout"
alias gcd="gco develop"

# Project Aliases
alias api="cd ~/workspace/api_service"
alias core="cd ~/workspace/core"
alias auth="cd ~/workspace/auth-service"
alias customer="cd ~/workspace/customer_web_servise"
alias web="cd ~/workspace/web_servise"
alias admin="cd ~/workspace/web_servise/apps/admin"
alias merchant="cd ~/workspace/web_servise/apps/merchant"
alias img="cd ~/workspace/img_service"
alias auth="cd ~/workspace/auth-service"

# Heroku
function hotelenv() {
  heroku "$@" -a infinite-hotel
}

# Docker
alias doc="docker compose -f ./docker/docker-compose.yaml"

# nginx
alias ngreset="nginx -t && brew services restart nginx"
